<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
<body>
<p th:text="${recipe.id}"></p>
<p th:text="${recipe.title}"></p>
<p th:text="${result}"></p>


</body>
<th:block th:replace="footer :: footer"/>
</html>